{
    "extends": "airbnb-typescript",
    "rules": {    
        "react/jsx-filename-extension": "on",
        "react/jsx-props-no-spreading": "off" ,
        "react/prop-types": "off"
    },
    "globals": {    
        "React": "readonly",
        "fetch": "readonly",
        "localStorage": "readonly",
        "window": "readonly"
    }
}