@font-face {
    font-family: "SmoothySans";
    src: url("/fonts/Smoothy-Sans.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "MoneyPenny";
    src: url("/fonts/MoneyPenny-Script.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "NorthernSoul";
    src: url("/fonts/NorthernSoul-Script.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}