.text {
    display: block;
    position: relative;
    height: 100%;
    overflow: visible;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.block {
    margin-top: 2rem;
}

.textContent {
    img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        box-shadow: black 0rem 0.1rem 0.6rem;
    }
}



.textButton {
    color: #00729c;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    cursor: pointer;

    &:hover {
        color: #034e6a;
    }
}

.arrowed{
    &::after {
        content: '';
        height: 1rem;
        width: 1rem;
        position: absolute;
        top: 0.2rem;
        margin-left: 0.3rem;
        background-image: url('/images/arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(180deg);
    }
    &.bwd {
        left: 1rem;
    }

    &.bwd::after {
        transform: none;
        left: -1.3rem;
        top: 0.5rem;
    }
}

.inline {
    display: inline-block;
}

.fadeIn {
    animation: fadeIn ease 3s;
}

.highlight {
    font-weight: 600;
    display: inline-block;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.contribution {
    margin-top: 4rem;
}

.contributeForm {
    min-height: 10rem;
    margin-bottom: 2rem;
}

@media (orientation: portrait)  {
    .block{
       margin-top: 0.5rem;
    }

    .contribution {
        margin-top: 2rem;
    }
  }